@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind override css */
.grid-custom-1 {
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

#nav {
  width: 50%;
}

.image-background > img{
  object-fit: cover;
  object-position: center;
  height: 100vh;
  width: 100%;
}

#nav {
  position: fixed;
}

#nav2 {
  width: 50%;
  justify-self: end;
}

#div-width {
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 3rem;
  padding-top: 2rem;
  background-color: rgb(255, 251, 235);
}

#div-width2 {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  background-color: rgb(255, 251, 235);
}

#plateAll {
  padding: 2rem;
  gap: 3rem;
}

.hero-small {
  font-size: 1.2rem;
  text-align: center;
}

.hero-big {
  font-size: 1.7rem;
}

h2 {
  padding-top: 0.6rem;
  font-weight: 800;
}

.details {
  color: rgb(103, 103, 103);
}

#story {
  padding-top: 1.0rem;
}

#address {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}

.label-right {
  justify-self: end;
  font-weight: 600;
}